.bg-header {
    background-image: linear-gradient(to bottom, #19509c, #0d284e);
}

.bg-header:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.46;
    background-image: url('/app-background.svg');
    object-fit: contain;
}

.w-logo {
    width: 62px;
}

@screen lg {
    .w-logo {
        width: 62px;
    }
}

.h-logo {
    height: 35px;
}

@screen lg {
    .h-logo {
        height: 35px;
    }
}

@screen lg {
    .user-info {
        width: 265px;
    }
}
