@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.loading {
  background: linear-gradient(-45deg, #545d6e, #9fa3aa,#545d6e, #9fa3aa);
  background-size: 400% 400%;
  animation: gradientBG 8s ease infinite;
}
