@import "theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

:root {
  --reach-dialog: 1;
}

[data-reach-dialog-overlay] {
  background:rgba(0, 0, 0, 0.36);
  @apply fixed;
  @apply inset-0;
  @apply overflow-auto;
}

[data-reach-dialog-content] {
  outline: none;
}
