@import 'tailwindcss';

@import './tailwind-preset.css';

@plugin "@tailwindcss/forms";

@theme {
  --color-purple-50: rgb(250 245 255);
  --color-purple-500: rgb(168 85 247);
  --color-purple-600: rgb(147 51 234);
}
