
@theme {
  --color-*: initial;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-transparent: rgba(0, 0, 0, 0);
  --color-current: currentColor;

  --color-primary-25: #f5f7ff;
  --color-primary-50: #eff2fd;
  --color-primary-100: #dde3fb;
  --color-primary-200: #b8c6f6;
  --color-primary-300: #94a9f1;
  --color-primary-400: #708bed;
  --color-primary-500: #4c6ee8;
  --color-primary-600: #1d47df;
  --color-primary-700: #1637ae;
  --color-primary-800: #10277c;
  --color-primary-900: #0a184a;

  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;

  --color-warning-50: #fefce8;
  --color-warning-100: #fef9c3;
  --color-warning-200: #fef08a;
  --color-warning-300: #fde047;
  --color-warning-400: #facc15;
  --color-warning-500: #eab308;
  --color-warning-600: #ca8a04;
  --color-warning-700: #a16207;
  --color-warning-800: #854d0e;
  --color-warning-900: #713f12;

  --color-critical-50: #fef2f2;
  --color-critical-100: #fee2e2;
  --color-critical-200: #fecaca;
  --color-critical-300: #fca5a5;
  --color-critical-400: #f87171;
  --color-critical-500: #ef4444;
  --color-critical-600: #dc2626;
  --color-critical-700: #b91c1c;
  --color-critical-800: #991b1b;
  --color-critical-900: #7f1d1d;

  --color-success-50: #f0fdf4;
  --color-success-100: #dcfce7;
  --color-success-200: #bbf7d0;
  --color-success-300: #86efac;
  --color-success-400: #4ade80;
  --color-success-500: #22c55e;
  --color-success-600: #16a34a;
  --color-success-700: #15803d;
  --color-success-800: #166534;
  --color-success-900: #14532d;

  --color-informative-50: #eff6ff;
  --color-informative-100: #dbeafe;
  --color-informative-200: #bfdbfe;
  --color-informative-300: #93c5fd;
  --color-informative-400: #60a5Fa;
  --color-informative-500: #3b82f6;
  --color-informative-600: #2563eb;
  --color-informative-700: #1d4ed8;
  --color-informative-800: #1e40af;
  --color-informative-900: #1e3a8a;

  --spacing-1\.5-1px: calc(var(--spacing(1.5)) - 1px);
  --spacing-2-1px: calc(0.5rem - 1px);
  --spacing-2\.5-1px: calc(0.625rem - 1px);
  --spacing-3-1px: calc(0.75rem - 1px);
  --spacing-4-1px: calc(1rem - 1px);
  --spacing-6-1px: calc(1.5rem - 1px);
  --spacing-8-1px: calc(2rem - 1px);

  --shadow-dialog: 0px 4px 3px rgba(0, 0, 0, 0.07), 0px 2px 2px rgba(0, 0, 0, 0.06);
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
